[Unit]
Description=Treetracker Admin API
Documentation=https://github.com/Greenstand
After=network.target

[Service]
Environment=NODE_PORT=3002
Environment=NODE_ENV=treetracker
Type=simple
User=root
ExecStart=/usr/bin/node /root/treetracker-admin-api/server/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
