[Unit]
Description=Treetracker Admin API
Documentation=https://github.com/Greenstand
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=root
ExecStart=/usr/local/bin/node /root/treetracker-admin-api/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
